<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="posts/header.html :: header">
    <title>Login</title>
</head>
<body>
<div>
    <div th:include="posts/navbar.html :: navbar"></div>
</div>
<main class="container">
    <br>
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="card" style="width: 35rem;">
                <h1 style="text-align: center">Log In</h1>
                <div class="card-body">
                    <form class="border-black" th:action="@{/login}" method="post">
                        <div class="form-group">
                            <div class="col-sm-6 w-100">
                                <label for="username" class="col-sm col-form-label">Username</label>
                                <input type="text" class="form-control" id="username" name="username">
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="col-sm-6 w-100">
                                <label for="password" class="col-sm col-form-label">Password</label>
                                <input name="password" type="password" class="form-control" id="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 pt-2">
                                <button type="submit" class="btn btn-success">Sign in</button>
                            </div>
                        </div>
                    </form>
                    <div th:if="${param.error}">
                        Invalid Username and Password.
                    </div>
                    <div th:if="${param.logout}">
                        You have been logged out.
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--<div>-->
<!--    <footer th:replace="posts/footer :: footer"></footer>-->
<!--</div>-->
</body>
</html>